# MacOS
.DS_Store

# Latex
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.run.xml
*.bcf
*.synctex.gz

# Coding
#output/
#results/
#studies/
.vscode/
*.pkl
*.pt
*.ckpt
*.tab
*.csv
*.pyc
#*.png
#*.db

# Personal files
TODO.txt
daily_log.txt
research.txt
